<html>
  <head>
    <title>Lista de Presença</title>
  </head>
  <body>
    <h2>Lista de Presença</h2>

    <form>
      <label for="nome-aluno">Nome Completo:</label>
      <input type="text" id="nome-aluno" name="nome-aluno" required /><br /><br />

      <label for="professor">Professor:</label>
      <select id="professor" name="professor">
        <option value="professor1">Professor 1</option>
        <option value="professor2">Professor 2</option>
        <option value="professor3">Professor 3</option>
      </select><br /><br />

      <div>
        <label for="checkbox1"><input type="checkbox" id="checkbox1" name="checkbox" value="opcao1" />DSM - Desenvolvimento de Software Multiplataforma</label><br />

        <label for="checkbox2"><input type="checkbox" id="checkbox2" name="checkbox" value="opcao2" />SI - Sistemas para Internet</label><br />

        <label for="checkbox3"><input type="checkbox" id="checkbox3" name="checkbox" value="opcao3" />GE - Gestão Empresarial</label><br /><br />

        <input type="submit" value="Enviar" />
      </div>
    </form>
  </body>
</html>
